.main {
    padding: 40px;
    background-color:  rgb(239, 248, 239);
}

.InBox {
    margin-top: 100px;
    
}

.InBox h1 {
    color:green;
    border-bottom: 1px solid green;
    margin-bottom: 30px;
}

.news {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 20px;
    z-index: 0;
//    max-height: 200px;
//border: 1px solid green;

}

.card-body {
    position: relative;
    background-color: rgb(225, 238, 225);
    color: rgb(2, 68, 2);

}

.card-title {
 //   word-wrap: break-word;
 margin-bottom: 50px;
}

a.btn.btn-success {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

div.card-footer.text-muted {
    font-size: 13px;
}