.main {
    padding: 40px;
    background-color:  rgb(239, 248, 239);
}

.InBox {
    margin-top: 100px;
}

.InBox h1 {
    color:green;
    border-bottom: 1px solid green;
    margin-bottom: 0;
}

p {
    text-align: justify;
    color: rgb(37, 109, 37);
    margin-bottom: 5px;
}

span {
    color: red;
    text-decoration: underline;
}

.accordion {
    margin-top: 20px;
}

.accordion-body {
    background-color: white;
    padding-top: 0px;
}

.accordion-item {
    border-color: green;
    background-color:  rgb(243, 250, 243);
    color: rgb(37, 109, 37);
}

.accordion-button {
    border-color: green;
    color: rgb(37, 109, 37);
    background-color:  rgb(239, 248, 239);
    font-weight: bolder;
}


.accordion-button:hover {
    background-color: rgb(225, 238, 225);
}

.accordion-button:not(.collapsed) {
    background-color: green;
    color: white;
    box-shadow: none;
}

.accordion-button.collapsed {
    box-shadow: none;
}

h4,h5,h6, .time-table td {font-weight: bolder;}

h5 {
    font-size: 1em;
}

.accordion-body h4 {
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 30px;
    color:rgb(29, 85, 29)
}


div.alert.alert-danger {
    padding: 2px;
    margin-top: 20px;
}

table.what-need {
    text-align: center;
    margin-bottom: 20px;
}

table.time-table {
    text-align: center;
    border: 1px solid green;
}

.time-table td {
    width: 20%;
}

.time-table thead {
    background-color: #ABDB77;
}

div.alert.alert-primary {
    padding: 10px;
    margin-top: 20px;
}

div.alert.alert-primary div {
    line-height: 1em;
    text-align: justify;
}